@charset "UTF-8";
body, ul, li, p, dl, dt, dd, ol, h1, h2, h3, h4, h5, h6, pre, input, textarea, select, option, form {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

img {
  border: 0; }

* {
  font-family: 微软雅黑; }

@media screen and (max-width: 414px) {
  html {
    font-size: 57.5px; } }

@media screen and (max-width: 412px) {
  html {
    font-size: 57.22222px; } }

@media screen and (max-width: 384px) {
  html {
    font-size: 53.33333px; } }

@media screen and (max-width: 375px) {
  html {
    font-size: 52.08333px; } }

@media screen and (max-width: 360px) {
  html {
    font-size: 50px; } }

@media screen and (max-width: 320px) {
  html {
    font-size: 44.44444px; } }

.header {
  position: fixed;
  width: 100%;
  height: 0.95rem;
  background: #393A3E;
  line-height: 0.95rem;
  text-indent: 0.3rem; }
  .header h1 {
    float: left;
    width: 1.8rem;
    height: 100%;
    font-style: normal;
    font-size: 0.35rem;
    color: white; }
  .header .search {
    float: left;
    width: 0.55rem;
    height: 0.47rem;
    margin-left: 3.1rem;
    background: url(images/SRC_20160727_135650_03.gif) no-repeat;
    background-size: 100%;
    margin-top: 0.30rem; }
  .header .jia {
    width: 0.52rem;
    float: left;
    height: 0.47rem;
    margin-left: 0.65rem;
    margin-top: 0.30rem;
    background: url(images/SRC_20160727_135650_05.gif) no-repeat;
    background-size: 100%; }

.zimutiao {
  position: fixed;
  right: 0;
  top: 0.95rem;
  bottom: 1.08rem;
  width: 0.45rem;
  z-index: 55555;
  background: url(images/2016-07-28_140148.png) no-repeat top center;
  background-size: 100%;
  padding-top: 0.8rem;
  box-sizing: border-box; }
  .zimutiao .span {
    width: 100%;
    height: 100%;
    background: transparent;
    box-sizing: border-box;
    padding: 0 0.09rem;
    font-size: 0.28rem;
    color: #565656;
    z-index: 6666666; }

.content {
  position: fixed;
  left: 0;
  top: 0.95rem;
  bottom: 0;
  right: 0;
  width: 100%;
  background: #fff;
  overflow-y: auto; }
  .content .zimu {
    width: 100%;
    height: 0.4rem;
    background: #eaeaea;
    text-indent: 0.05rem;
    line-height: 0.4rem;
    font-size: 0.18rem;
    color: #898989; }
  .content li {
    width: 100%;
    height: 1rem;
    background: #fff;
    padding-left: 0.3rem;
    padding-right: 0.4rem;
    box-sizing: border-box; }
    .content li .li-inner.wu {
      border-bottom: none; }
    .content li .li-inner {
      width: 100%;
      height: 100%;
      border-bottom: 1px solid #d8d8d8;
      position: relative; }
      .content li .li-inner img {
        width: 0.72rem;
        height: 0.72rem;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto; }
      .content li .li-inner span {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0.72rem;
        right: 0;
        top: 0;
        bottom: 0;
        text-align: left;
        text-indent: 0.22rem;
        font-size: 0.3rem;
        color: #343434;
        line-height: 1rem; }

.foot {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 1.08rem;
  width: 100%;
  background: #fcfcfc;
  border-top: 0.01rem solid #d6d6d6;
  padding: 0 0.5rem;
  box-sizing: border-box; }
  .foot .wei {
    width: 25%;
    height: 100%;
    float: left;
    padding: 0 0.3rem;
    box-sizing: border-box;
    position: relative; }
    .foot .wei img {
      position: absolute;
      left: 0;
      right: 0;
      top: 0.15rem;
      margin: auto;
      width: 0.7rem;
      height: 0.5rem; }
    .foot .wei span {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0.15rem;
      margin: auto;
      width: 100%;
      height: 0.22rem;
      line-height: 0.22rem;
      text-align: center;
      font-size: 0.22rem;
      color: #969696; }
