body,ul,li,p,dl,dt,dd,ol,h1,h2,h3,h4,h5,h6,pre,input,textarea,select,option,form{margin:0;padding:0;list-style:none;}
a{text-decoration: none;}
img{border:0;}
*{
	font-family:微软雅黑;
}
@mixin size ($size){
	$list:414px,412px,384px,375px,360px,320px;
      @each $i in $list{
	  @media screen and(max-width:#{$i}){
	  html{
		  font-size:100px*($i/$size);
	  }
}
}
}
@include size(720px)
.header{
	position: fixed;
	width: 100%;
	height:0.95rem;
	background: #393A3E;
	line-height: 0.95rem;
	text-indent:0.3rem;
	h1{
		float:left;
		width: 1.8rem;
		height: 100%;
		font-style: normal;
		font-size:0.35rem;
		color:white;
	}
	.search{
		float:left;
		width: 0.55rem;
		height: 0.47rem;
		margin-left:3.1rem;
		background:url(images/SRC_20160727_135650_03.gif) no-repeat;
		background-size: 100%;
		margin-top:0.30rem;
	}
	.jia{
		width: 0.52rem;
		float:left;
		height: 0.47rem;
		margin-left: 0.65rem;
		margin-top: 0.30rem;
		background: url(images/SRC_20160727_135650_05.gif) no-repeat;
		background-size:100%;
	}
}
.content{
	position: fixed;
	left:0;
	top:0.95rem;
	bottom:0;
	right:0;
	width: 100%;
	background: #fff;
    overflow-y:auto;
    li{
    	width: 100%;
    	height: 1.28rem;
    	border-bottom: 1px solid #d8d8d8;
    	img{
    		width: 0.95rem;
    		height: 0.95rem;
    		margin-left:0.25rem;
    		float:left;
    		margin-top: 0.17rem;
    	}
    	.liaotian{
    		float:left;
    		width:4.5rem;
    		height: 0.95rem;
    		margin-left:0.25rem;
    		margin-top: 0.17rem;
    		position: relative;
    		.name{
    			width: 100%;
    			height: 0.47rem;
    			position: absolute;
    			left:0;
    			top:0;
    			font-size: 0.26rem;
    			line-height: 0.47rem;
    			text-align: left;
    			color:#2c2c2c;
    		}
    		.main{
    			width: 100%;
    			height: 0.47rem;
    			position: absolute;
    			left:0;
    			bottom:0;
    			font-size: 0.24rem;
    			line-height: 0.47rem;
    			text-align: left;
    			color:#989898;
    		}
    	}
    	.time{
    		width: 0.73rem;
    		height: 0.26rem;
    		float:right;
    		margin-right: 0.27rem;
    		margin-top: 0.27rem;
    		text-align: center;
    		line-height: 0.27rem;
    		color:#dadada;
    		font-size: 0.24rem;
    	}
    }
}

.foot{
	position: fixed;
	left:0;
	bottom:0;
	height: 1.08rem;
	width: 100%;
	background: #fcfcfc;
	border-top:0.01rem solid #d6d6d6;
	padding:0 0.5rem;
	box-sizing:border-box;
	.wei{
		width: 25%;
		height: 100%;
		float:left;
		padding: 0 0.3rem;
	    box-sizing:border-box;
	    position: relative;
	    img{
            position: absolute;
            left:0;
            right:0;
            top:0.15rem;
            margin: auto;
	    	width: 0.7rem;
	    	height: 0.5rem;
	    }
	    span{
	    	position: absolute;
	    	left:0;
	    	right:0;
	    	bottom:0.15rem;
	    	margin:auto;
	    	width: 100%;
	    	height: 0.22rem;
	    	line-height: 0.22rem;
	    	text-align: center;
	    	font-size:0.22rem;
	    	color: #969696;
	    }
	}
}